.items {
    width: 450px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px;
    background: #b33ca7;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button {
    padding: 10px 0;
    width: 120px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.text {
    font-size: 18px;
}

.counters {
    display: flex;
    flex-wrap: wrap;
}